---
title: 'Edit Poynt Account'
view: 'views/accounts/list'
nav: true
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="pane-body accounts">

		<div id="accounts-list-loading" data-bind="visible: loading()" style="display: none;"></div>

		<div id="accounts-list-form">
			<div class="container">

				<h2>Account details - <span>Lawrence's Last Straw</span></h2>

				<div class="form-group alert-danger">
					<span data-bind="text: error"></span>
				</div>

				<div class="form-group">
					<input type="button" class="btn btn-primary" value="back">
				</div>

				<table class="account-details-table">
					<tbody>
						<tr>
							<td>
								{% for item in [
									{
										label: 'EH Enterprise Id',
										id: 'eh-enterprise-id',
										link: true,
										value: '48120'
									},
									{
										label: 'Poynt Business Id',
										id: 'poynt-business-id',
										value: '18f071cc-5ed4-4b33-80c1-305056d42bfb'
									},
									{
										label: 'Business Type',
										id: 'business-type',
										value: 'MERCHANT'
									},
									{
										label: 'Business URL',
										id: 'business-url',
										value: 'http://lawrence-s-last-straw.com'
									},
									{
										label: 'Industry Type',
										id: 'industry-type',
										value: 'Restaurant'
									},
									{
										label: 'Business Description',
										id: 'business-description',
										value: 'Just another test merchant'
									},
									{
										label: 'Business Status',
										id: 'business-status',
										value: 'Active'
									},
									{
										label: 'Active Since',
										id: 'active-since',
										value: 'ACTIVATED'
									},
									{
										label: 'Time Zone',
										id: 'time-zone',
										value: 'UTC-05:00'
									},
									{
										label: 'Payment Processor',
										id: 'payment-processor',
										value: 'FIRST_DATA'
									},
									{
										label: 'Acquirer',
										id: 'acquirer',
										value: 'CHASE_PAYMENTECH'
									},
									{
										label: 'Legal Business Name',
										id: 'legal-business-name',
										value: "Lawrence's Last Straw"
									},
									{
										label: 'Doing Business Name',
										id: 'doing-business-name',
										value: "Lawrence's Last Straw"
									},
									{
										label: 'Email',
										id: 'email',
										value: 'lawrence-s-last-straw@gmail.com'
									},
									{
										label: 'Phone',
										id: 'phone',
										value: '917-921-6467'
									},
									{
										label: 'Address',
										id: 'address',
										value: 'Palo Alto'
									}
								] %}
									<div class="form-group">
										<label for="{{item.id}}">{{item.label}}</label>
										{% if item.link %}
											<p><a href="#">{{item.value}}</a></p>
										{% else %}
											<input type="text" class="form-control" id="{{item.id}}" value="{{item.value}}" {% if not item.enable %}disabled{% endif %}>
										{% endif %}
									</div>
								{% endfor %}
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

	</div>

{% endblock %}